/*@import "_mixins/list-group.less";*/
.barrage_box {
  width: 1200px;
  height: 500px;
  background: black;
  overflow: hidden;
}
.barrage_box .barrage-row {
  margin-bottom: 20px;
  white-space: nowrap;
}
.barrage_box .barrage-item {
  margin-right: 100px;
  display: inline-block;
  color: #fff;
  list-style-type: none;
}
